<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/74cb01c8-e041-4018-be9a-b3c6b4ecf6be/resourcegroups/MyShoppingAPI20241206113122ResourceGroup/providers/Microsoft.Web/sites/MyShoppingAPI23052001</ResourceId>
    <ResourceGroup>MyShoppingAPI20241206113122ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/74cb01c8-e041-4018-be9a-b3c6b4ecf6be/resourceGroups/MyShoppingAPI20241206113122ResourceGroup/providers/Microsoft.ApiManagement/service/DoConnectWebApiapi/apis/MyShoppingAPI23052001</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://myshoppingapi23052001.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>d6ac295e-0bb6-4d09-8e87-35aa5571ef6d</ProjectGuid>
    <MSDeployServiceURL>myshoppingapi23052001.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>MyShoppingAPI23052001</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
  </PropertyGroup>
</Project>